/* root */
:root {
    --green-number-one: rgb(1, 102, 79);
    --pink-number-one:  rgb(252, 1, 192);
    --grey-number-one:  rgb(200, 214, 212);
    --grey-number-two:  rgb(231 231 231);;
    --purple-number-one:  rgb(159, 40, 148);
    --black-number-one:  rgba(0,0,0,.9);
}
/* ELEMENTS */
nav {
    background-color: var(--grey-number-two);
}
/* CLASSES */
.home {
    background-size: contain;
    background-image: url('./images/indiancreek.roadJPG.JPG');
}
.nav-myname-logo {
    width: 100;
    border-radius: 1rem;
}
.search-button {
    margin-right: 5px;
    margin-left: 5px;
    color: var(--black-number-one);
    background-color: var(--grey-number-one);
}
.drodown-item {
    margin-left: 5px;
    color: var(--black-number-one);
}
.carousel-btns {
    margin: .5rem;
    border-radius: 2rem;
}
.carousel-slides {
    width: 100%;
    height: 100vw;
}
.language-card {
    background-color: brown;
    border-radius: 0.2rem;
    background-color: var(--grey-number-one);
    margin: 0.1rem;
    padding: 2rem;

