/* root */
:root {
    --green-number-one: rgb(1, 102, 79);
    --pink-number-one:  rgb(252, 1, 192);
    --grey-number-one:  rgb(200, 214, 212);
    --grey-number-two:  rgb(231 231 231);
    --grey-number-three:  rgb(233, 236, 239);
    --purple-number-one:  rgb(159, 40, 148);
    --black-number-one:  rgba(0,0,0,.9);
}
/* ELEMENTS */
nav {
    background-color: var(--grey-number-two);
}
/* CLASSES */
.home {
    background-size: contain;
    background-image: url('./images/indiancreek.roadJPG.JPG');
}
.nav-myname-logo {
    width: 100;
    border-radius: 1rem;
}
.search-button {
    margin-right: 5px;
    margin-left: 5px;
    color: var(--black-number-one);
    background-color: var(--grey-number-one);
}
.drodown-item {
    margin-left: 5px;
    color: var(--black-number-one);
}
.carousel-btns {
    margin: .5rem;
    border-radius: 2rem;
}
.carousel-slides {
    width: 100%;
    height: 100vw;
}
.language-card {
    border-radius: 0.2rem;
    background-color: var(--grey-number-one);
    padding: 2rem;
}
.lower-section {
    margin: .2rem;
    border-radius: 0.2rem;
    background-color: var(--grey-number-three);
}
.lower-image {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;

}
.fast-paced {
    padding: 2rem;
}
.lower-logo {
    width: 30%;
}
.youtube-icon {
    width: 3.2rem;
}
.facebook-icon {
    width: 3rem;
}
.instagram-icon {
    width: 4.6rem;
}
.github-icon {
    width: 3.2rem;
}
.gmail-icon {
    width: 3.2rem;
}
.linkedin-icon {
    width: 3.2rem;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
/*-- MEDIA QUERIES --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {
    
}