/* root */
:root {
    --green-number-one: rgb(1, 102, 79);
    --pink-number-one:  rgb(252, 1, 192);
    --grey-number-one:  rgb(200, 214, 212);
    --grey-number-two:  rgb(231 231 231);
    --grey-number-three:  rgb(233, 236, 239);
    --grey-number-four:  rgb(44, 52, 51);
    --purple-number-one:  rgb(159, 40, 148);
    --black-number-one:  rgba(0,0,0,.9);

}
/* ELEMENTS */
nav {
    background-color: var(--grey-number-two);
}
form {
    filter: drop-shadow(0 0 0.25rem var(--black-number-one));
}
/* ID's */
#logo {
    filter: drop-shadow(0 0 0.25rem var(--black-number-one));
}
/* CLASSES */
.home {
    background-size: contain;
    background-image: url('./images/indiancreek.roadJPG.JPG');
}
.nav-myname-logo {
    width: 100;
    border-radius: 1rem;
}
.search-button {
    margin-right: 5px;
    margin-left: 5px;
    color: var(--black-number-one);
    background-color: var(--grey-number-one);
}
.drodown-item {
    margin-left: 5px;
    color: var(--black-number-one);
}
.carousel-btns {
    margin: .5rem;
    border-radius: 2rem;
}
.carousel-slides {
    width: 100%;
    /* height: 100vw; */
    
}
.language-card {
    border-radius: 0.2rem;
    background-color: var(--grey-number-one);
    padding: 2rem;
}
.lower-section {
    margin: .2rem;
    border-radius: 0.2rem;
    background-color: var(--grey-number-three);
}
.lower-image {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.2rem;

}
.fast-paced {
    padding: 2rem;
}
.lower-logo {
    width: 30%;
    filter: drop-shadow(0 0 0.25rem var(--black-number-one));
    border-radius: 1rem;
}
.youtube-icon {
    filter: drop-shadow(0 0 0.25rem rgb(225, 43, 42));
    width: 3.2rem;
}
.facebook-icon {
    width: 3rem;
    filter: drop-shadow(0 0 0.25rem rgb(63, 92, 153));
}
.instagram-icon {
    filter: drop-shadow(0 0 0.25rem rgb(254, 198, 90));
    width: 4.6rem;
}
.github-icon {
    filter: drop-shadow(0 0 0.25rem rgb(22, 21, 22));
    width: 3.2rem;
}
.gmail-icon {
    filter: drop-shadow(0 0 0.25rem rgb(253, 192, 192));
    width: 3.2rem;
}
.linkedin-icon {
    filter: drop-shadow(0 0 0.25rem rgb(229, 214, 195));
    width: 3.2rem;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient( rgba(211, 225, 231, 0.3), rgba(0, 0, 0, .3));
    border-radius: 1rem;
}
.carousel-caption h5{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: var(--grey-number-four) 1px 0 10px;
}
.carousel-caption p {
    font-size: 100%;
    font-weight: 100;
    padding-bottom: 1rem;
    text-shadow: var(--grey-number-three) 1px 0 10px;

}
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.help {
    filter: drop-shadow(0 0 0.25rem var(--grey-number-one));
}
.hours {
    filter: drop-shadow(0 0 0.25rem var(--grey-number-one));
}
.connect-social {
    filter: drop-shadow(0 0 0.25rem var(--grey-number-one));
}
/*-- MEDIA QUERIES --*/
@media (max-width: 992px) {

}
@media (max-width: 692px) {
    .carousel-slides {
        height: 50%;
        overflow-x: hidden;
        background-size: contain;
        /* height: 100vw; */
        padding: 1rem;
        border-radius: 2rem;
        
    }
    .language-card h3{
        font-size: 20px;
    }
}
@media (max-width: 468px) {
    .carousel-slides {
        height: 50%;
        overflow-x: hidden;
        background-size: contain;
        /* height: 100vw; */
        
    }

}
@media (max-width: 376px) {
    
}